.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #9e1f30;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 843px;
  top: 60px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1102px;
  top: 60px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1278px;
  top: 60px;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 117px;
  top: 60px;
  width: 221px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.bmgt-407-information-system-project {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  left: 148px;
  top: 185px;
  width: 1380px;
  height: 93px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 323px;
  width: 1171px;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 591px;
  width: 590px;
  height: 58px;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 683px;
  width: 492px;
  height: 54px;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 782px;
  width: 1172px;
  height: 56px;
}
